In [1]:
from pyspark import SQLContext
from pyspark import SparkContext

sc = SparkContext.getOrCreate()
sql = SQLContext.getOrCreate(sc)

### Kafka to parquet

In [2]:
df = sql.read.json("data\employee.json")
df.show()

+---+-------+
|age|   name|
+---+-------+
| 32|    Jon|
| 25| Andrew|
| 43| Nikita|
| 23|   Ravi|
| 65|  James|
| 34|Kareena|
+---+-------+

#### Try some queries on the dataframe

In [3]:
print("select name from table")
df.select("name").show()
print("select name, age from table where age > 30")
df.select(['name', 'age']).where("age > 30").show()

select name from table
+-------+
|   name|
+-------+
|    Jon|
| Andrew|
| Nikita|
|   Ravi|
|  James|
|Kareena|
+-------+

select name, age from table where age > 30
+-------+---+
|   name|age|
+-------+---+
|    Jon| 32|
| Nikita| 43|
|  James| 65|
|Kareena| 34|
+-------+---+

#### Create parquet

In [4]:
df.write.parquet("data\employee.parquet", mode='append')

In [5]:
# spark not compiled with java 11
# parquet_df = sql.read.parquet("data\employee.parquet")