In [6]:
from pyspark import SQLContext
from pyspark import SparkContext

sc = SparkContext.getOrCreate()
spark = SQLContext.getOrCreate(sc)

In [12]:
df = spark.read.json("data\employee.json")
df.show()

+---+-------+
|age|   name|
+---+-------+
| 32|    Jon|
| 25| Andrew|
| 43| Nikita|
| 23|   Ravi|
| 65|  James|
| 34|Kareena|
+---+-------+

In [18]:
print("select * from table")
df.select("*").show()
print("select name from table")
df.select("name").show()
print("select name, age from table where age > 30")
df.select(['name', 'age']).where("age > 30").show()

select * from table
+---+-------+
|age|   name|
+---+-------+
| 32|    Jon|
| 25| Andrew|
| 43| Nikita|
| 23|   Ravi|
| 65|  James|
| 34|Kareena|
+---+-------+

select name from table
+-------+
|   name|
+-------+
|    Jon|
| Andrew|
| Nikita|
|   Ravi|
|  James|
|Kareena|
+-------+

select name, age from table where age > 30
+-------+---+
|   name|age|
+-------+---+
|    Jon| 32|
| Nikita| 43|
|  James| 65|
|Kareena| 34|
+-------+---+